@charset "utf-8";
/* CSS Document */
/*全局控制*/
*{
	box-sizing: border-box;
}
html,body{ width:100%; height:100%;}
body{ margin:0; padding:0; font-size:14px; font-family:"微软雅黑";}
/*清除浏览器的默认样式*/
p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,input,img,select{ margin:0; padding:0; list-style:none; border:0; outline:none;}
a{ text-decoration:none; cursor:default;}
table {border-collapse: collapse;border-spacing: 0;}

/*阴影*/
.shadow{box-shadow: 0 1px 2px rgba(0,0,0,0.2);}
a{blr:expression(this.onFocus=this.blur())}/*去掉a标签的虚线框，避免出现奇怪的选中区域*/
:focus { outline:0; }

/*移动前端开发中，在移动设备上点击按钮，有灰色阴影*/
* {tap-highlight-color: rgba(0,0,0,0);}
* { -webkit-tap-highlight-color: rgba(0,0,0,0);}
* { -moz-tap-highlight-color: rgba(0,0,0,0);}
* { -o-tap-highlight-color: rgba(0,0,0,0);}
* { -ms-tap-highlight-color: rgba(0,0,0,0);}

/*上下左右箭头-全局控制*/
.re_trg, .le_trg, .top_trg,.bot_trg{ display:inline-block; width:9px; height:9px; border-right:2px solid #555;border-bottom:2px solid #555; transform:rotate(-45deg);-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);-ms-transform: rotate(-45deg);}
.le_trg{ width:9px; height:9px;transform:rotate(135deg);-webkit-transform: rotate(135deg);-moz-transform: rotate(135deg);-o-transform: rotate(135deg);-ms-transform: rotate(135deg);}
.bot_trg{transform:rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);-ms-transform: rotate(45deg);margin:3px 4px;}
.top_trg{transform:rotate(-135deg);-webkit-transform: rotate(-135deg);-moz-transform: rotate(-135deg);-o-transform: rotate(-135deg);-ms-transform: rotate(-135deg); margin: -2px 4px;}

/*公共盒子排列*/
.box-sizing{ box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box;}
.dis-v{ display:box; display:-webkit-box; display:-moz-box; display:-o-box; display:-ms-box;box-orient:vertical; -webkit-box-orient:vertical; -moz-box-orient:vertical; -o-box-orient:vertical; -ms-box-orient:vertical;}
.dis-box{ display:box; display:-webkit-box; display:-moz-box; display:-o-box; display:-ms-box;}
.dis-flex{ box-flex:1; -webkit-box-flex:1; -moz-box-flex:1; -o-box-flex:1; -ms-box-flex:1;}
.dis-center{ box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box;display: -webkit-box; display: -moz-box;display: -ms-box;display: box;box-pack: center; -webkit-box-pack: center;-moz-box-pack: center;-ms-box-pack: center;box-align: center;-webkit-box-align: center;-webkit-box-align: center;-moz-box-align: center;}